@media ( max-width: 740px) {

    #nav>li {
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav{
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: black;
    }
    #header .menu-bars-btn{
        display: block;
    }

    #header{
        /* Cach de an thang con vượt quá thằng cha là cái dãy thẻ li */
    overflow: hidden;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    /* image section */
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img{
        width: 60%;
    }
    .place-img-mobile{
        width: 100%;
        
    }

    .s-full-width,
    .s-col-full {
        width: 100%;
    }
    .s-mt-8{
        margin-top: 8px;
    }
}
